numpy
pandas
scikit-learn
streamlit
plotly
matplotlib
psutil
requests
urllib3
fake-useragent
timezonefinder
geopy
joblib
optuna
optuna-integration
lightgbm
catboost
xgboost
pyarrow
deep-translator
groq
pytest
ruff
seaborn
